/* fonts*/
@font-face {
    font-family: "SegoeUIRegular";
    src: url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot");
    src: url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
    url("../fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
    font-family: "SegoeUIBold";
    src: url("../fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot");
    src: url("../fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff") format("woff"),
    url("../fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUIItalic"; */
@font-face {
    font-family: "SegoeUIItalic";
    src: url("../fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.eot");
    src: url("../fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
    url("../fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUILight"; */
@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUI/SegoeUILight/SegoeUILight.eot");
    src: url("../fonts/SegoeUI/SegoeUILight/SegoeUILight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUI/SegoeUILight/SegoeUILight.woff") format("woff"),
    url("../fonts/SegoeUI/SegoeUILight/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SegoeUISemiBold"; */
@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.eot");
    src: url("../fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"),
    url("../fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* /fonts */

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "SegoeUIRegular", serif;
    color: #222;

    overflow-x: hidden;
    width: 100vw;
}
a, a:hover {
    text-decoration: none;
    transition: all linear 0.2s;
}
.title {
    color: #585858;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

/* header */
.header {
    background: linear-gradient(to bottom,#b19771, rgba(39, 39, 39, 0.1));
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-menu {
    padding: 3px 0 7px;
}
.header-menu_item {
    padding: 0 25px;
}
.header-menu_link {
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    transition: all linear 0.2s;
    position: relative;
}
.header-menu_link::before {
    content: '{';
    color: #ff9600;
    font-size: 30px;
    position: absolute;
    top: 8px;
    left: -5px;
    display: none;
}
.header-menu_link::after {
    content: '}';
    color: #ff9600;
    font-size: 30px;
    position: absolute;
    top: 8px;
    right: -5px;
    display: none;
}
.header-menu_link:hover {
    color: #ff9600;
}
.header-menu_link.active::before {
    display: block;
}
.header-menu_link.active::after {
    display: block;
}



/* /header */

/* content */

/* promo */
.promo {
    height: 100vh;
    width: 100%;
    position: relative;
}
.promo-bg {
    background: url("../images/promo-bg.jpg");
    background-size: 100%;
    height: 100vh;
    width: 100%;
    /*opacity: 0;*/
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    vertical-align: middle;
    z-index: 2;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    will-change: transform;
}

.promo-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
.promo-card_wrap {
    background: rgba(255,255,255,0.7);
    padding: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.promo-card_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.promo-card_img img {
    width: auto;
    max-width: inherit;
}
.promo-card_desc {
    text-align: center;
    margin: 25px 0 0 0;
}
.promo-card_name {
    color: #333333;
    font-weight: 300;
    font-size: 30px;
    line-height: 33px;
    margin: 0 0 10px 0;
}
.promo-card_status {
    color: #64544e;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px
}
/* /promo */

/* services */
.services {
    position: relative;
    padding: 60px 0;
}
.services::after {
    content: '';
    position: absolute;
    top: -99px;
    left: 0;
    background: url(../images/triangle-separator2.png) no-repeat center bottom;
    background-size: cover;
    height: 92px;
    min-height: 100px;
    width: 100%;
    z-index: 200;
}
.title--services {
    margin: 0 0 30px 0;
}
.service {
    width: 80%;
    margin: 0 auto;
}
.service-pic {
    height: 245px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.service-desc {
    margin: 30px 0 0 0;
    padding: 0 20px;
    text-align: center;
}
.service-desc p {
    font-size: 17px;
    font-weight: 300;
    text-align: left;
}
/* / services */

/* portfolio */

.portfolio {
    background: url(../images/portfolio-bg.jpg) no-repeat top center;
    padding: 60px 0;
    height: 640px;
    min-height: 300px;
}
.title--portfolio {
    margin: 0 0 30px 0;
}
.portfolio-slider {
    list-style: none;
    margin: 0;
    padding: 0;
}
.portfolio-item {
    width: 22%;
    height: 430px;
    overflow: hidden;
}
.portfolio-item_wrap {
    position: relative;
    z-index: 9;
    height: 430px;
    width: 80%;
}
.portfolio-item_wrap img {
    display: inline-block;
    max-width: 100%;
}
.portfolio-item_description {
    padding: 15px 20px 20px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    height: 50%;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all linear 0.6s;
}
.portfolio-link:hover .portfolio-item_description {
    bottom: -430px;
}
.portfolio-item_title {
    color: #ff9600;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    padding: 0;
    height: 65px;

    display: -webkit-box;
    overflow: hidden;
    text-align: left;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.portfolio-item_description p {
    color: #676767;
    font-size: 17px;
    line-height: 27px;
}
.mark {
    color: #333333;
    font-size: 11px;
    line-height: 15px;
    margin-top: auto;
    padding: 3px 0;
}
/* /portfolio */

/* about me*/
.about-me {
    padding: 70px 0;
    background: #f9f9f9;
}
.about-me-tools_title {
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px 0;
}
.about-me-tools_list {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 33%;
}
.about-me-tools_item {
    width: 50%;
    display: flex;
    min-height: 77px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.about-me-tools_pic {
    margin: 0 10px 0 0;
}
.about-me-tools_description {
    background: #ff9600;
    height: 10px;
    border-radius: 6px;
    width: 140px;
}
.about-me-tools_description h4 {
    position: relative;
    top: -24px;
    font-size: 15px;
    line-height: 20px;
}
.about-me-tools_bar {
    height: 10px;
    border-radius: 6px;
    margin: 0;
    background: #2187e7;
    position: absolute;
}
/* html */
.about-me-tools_bar--html {
    width: 130px;
    -moz-animation: html5 2s ease-out;
    -webkit-animation: html5 2s ease-out;
    animation: html5 2s ease-out;
}
@-moz-keyframes html5 {
    0%   { width: 0;}
    90% { width: 130px;}
}
@-webkit-keyframes html5 {
    0%   { width: 0;}
    90% { width: 130px;}
}
@keyframes html5 {
    0% { width: 0;}
    90% { width: 130px;}
}
/* CSS3 */
.about-me-tools_bar--css3 {
    width: 125px;
    -moz-animation: css3 2s ease-out;
    -webkit-animation: css3 2s ease-out;
    animation: css3 2s ease-out;
}
@-moz-keyframes css3 {
    0%   { width: 0;}
    100% { width: 125px;}
}
@-webkit-keyframes css3 {
    0%   { width: 0;}
    100% { width: 125px;}
}
@keyframes css3 {
    0% { width: 0;}
    100% { width: 125px;}
}
/* Sass */
.about-me-tools_bar--sass {
    width: 40px;
    -moz-animation: sass 2s ease-out;
    -webkit-animation: sass 2s ease-out;
    animation: sass 2s ease-out;
}
@-moz-keyframes sass {
    0%   { width: 0;}
    100% { width: 40px;}
}
@-webkit-keyframes sass {
    0%   { width: 0;}
    100% { width: 40px;}
}
@keyframes sass {
    0% { width: 0;}
    100% { width: 40px;}
}
/* Gulp */
.about-me-tools_bar--gulp {
    width: 40px;
    -moz-animation: gulp 2s ease-out;
    -webkit-animation: gulp 2s ease-out;
    animation: gulp 2s ease-out;
}
@-moz-keyframes sass {
    0%   { width: 0;}
    100% { width: 40px;}
}
@-webkit-keyframes sass {
    0%   { width: 0;}
    100% { width: 40px;}
}
@keyframes sass {
    0% { width: 0;}
    100% { width: 40px;}
}
/* SVG */
.about-me-tools_bar--svg {
    width: 40px;
    -moz-animation: svg 2s ease-out;
    -webkit-animation: svg 2s ease-out;
    animation: svg 2s ease-out;
}
@-moz-keyframes svg {
    0%   { width: 0;}
    100% { width: 40px;}
}
@-webkit-keyframes svg {
    0%   { width: 0;}
    100% { width: 40px;}
}
@keyframes svg {
    0% { width: 0;}
    100% { width: 40px;}
}
/* Bootstrap */
.about-me-tools_bar--bootstrap {
    width: 100px;
    -moz-animation: bootstrap 2s ease-out;
    -webkit-animation: bootstrap 2s ease-out;
    animation: bootstrap 2s ease-out;
}
@-moz-keyframes bootstrap {
    0%   { width: 0;}
    100% { width: 100px;}
}
@-webkit-keyframes bootstrap {
    0%   { width: 0;}
    100% { width: 100px;}
}
@keyframes bootstrap {
    0% { width: 0;}
    100% { width: 100px;}
}
/* Foundation */
.about-me-tools_bar--foundation {
    width: 100px;
    -moz-animation: foundation 2s ease-out;
    -webkit-animation: foundation 2s ease-out;
    animation: foundation 2s ease-out;
}
@-moz-keyframes foundation {
    0%   { width: 0;}
    100% { width: 100px;}
}
@-webkit-keyframes foundation {
    0%   { width: 0;}
    100% { width: 100px;}
}
@keyframes foundation {
    0% { width: 0;}
    100% { width: 100px;}
}
/* BEM */
.about-me-tools_bar--bem {
    width: 80px;
    -moz-animation: bem 2s ease-out;
    -webkit-animation: bem 2s ease-out;
    animation: bem 2s ease-out;
}
@-moz-keyframes bem {
    0%   { width: 0;}
    100% { width: 80px;}
}
@-webkit-keyframes bem {
    0%   { width: 0;}
    100% { width: 80px;}
}
@keyframes bem {
    0% { width: 0;}
    100% { width: 80px;}
}
/* Jquery */
.about-me-tools_bar--jquery {
    width: 70px;
    -moz-animation: jquery 2s ease-out;
    -webkit-animation: jquery 2s ease-out;
    animation: jquery 2s ease-out;
}
@-moz-keyframes jquery {
    0%   { width: 0;}
    100% { width: 70px;}
}
@-webkit-keyframes jquery {
    0%   { width: 0;}
    100% { width: 70px;}
}
@keyframes jquery {
    0% { width: 0;}
    100% { width: 70px;}
}
/* JavaScript */
.about-me-tools_bar--js {
    width: 40px;
    -moz-animation: js 2s ease-out;
    -webkit-animation: js 2s ease-out;
    animation: js 2s ease-out;
}
@-moz-keyframes js {
    0%   { width: 0;}
    100% { width: 40px;}
}
@-webkit-keyframes js {
    0%   { width: 0;}
    100% { width: 40px;}
}
@keyframes js {
    0% { width: 0;}
    100% { width: 40px;}
}
/* Wordpress */
.about-me-tools_bar--wordpress {
    width: 50px;
    -moz-animation: wordpress 2s ease-out;
    -webkit-animation: wordpress 2s ease-out;
    animation: wordpress 2s ease-out;
}
@-moz-keyframes wordpress {
    0%   { width: 0;}
    100% { width: 50px;}
}
@-webkit-keyframes wordpress {
    0%   { width: 0;}
    100% { width: 50px;}
}
@keyframes wordpress {
    0% { width: 0;}
    100% { width: 50px;}
}
/* PHP */
.about-me-tools_bar--php {
    width: 30px;
    -moz-animation: php 2s ease-out;
    -webkit-animation: php 2s ease-out;
    animation: php 2s ease-out;
}
@-moz-keyframes php {
    0%   { width: 0;}
    100% { width: 30px;}
}
@-webkit-keyframes php {
    0%   { width: 0;}
    100% { width: 30px;}
}
@keyframes php {
    0% { width: 0;}
    100% { width: 30px;}
}
/* MySQL */
.about-me-tools_bar--mysql {
    width: 20px;
    -moz-animation: mysql 2s ease-out;
    -webkit-animation: mysql 2s ease-out;
    animation: mysql 2s ease-out;
}
@-moz-keyframes mysql {
    0%   { width: 0;}
    100% { width: 20px;}
}
@-webkit-keyframes mysql {
    0%   { width: 0;}
    100% { width: 20px;}
}
@keyframes mysql {
    0% { width: 0;}
    100% { width: 20px;}
}
/* Adobe Photoshop */
.about-me-tools_bar--photoshop {
    width: 110px;
    -moz-animation: photoshop 2s ease-out;
    -webkit-animation: photoshop 2s ease-out;
    animation: photoshop 2s ease-out;
}
@-moz-keyframes photoshop {
    0%   { width: 0;}
    100% { width: 110px;}
}
@-webkit-keyframes photoshop {
    0%   { width: 0;}
    100% { width: 110px;}
}
@keyframes photoshop {
    0% { width: 0;}
    100% { width: 110px;}
}
/* Sketch */
.about-me-tools_bar--sketch {
    width: 90px;
    -moz-animation: sketch 2s ease-out;
    -webkit-animation: sketch 2s ease-out;
    animation: sketch 2s ease-out;
}
@-moz-keyframes sketch {
    0%   { width: 0;}
    100% { width: 90px;}
}
@-webkit-keyframes sketch {
    0%   { width: 0;}
    100% { width: 90px;}
}
@keyframes sketch {
    0% { width: 0;}
    100% { width: 90px;}
}
/* Zeplin */
.about-me-tools_bar--zeplin {
    width: 70px;
    -moz-animation: zeplin 2s ease-out;
    -webkit-animation: zeplin 2s ease-out;
    animation: zeplin 2s ease-out;
}
@-moz-keyframes zeplin {
    0%   { width: 0;}
    100% { width: 70px;}
}
@-webkit-keyframes zeplin {
    0%   { width: 0;}
    100% { width: 70px;}
}
@keyframes zeplin {
    0% { width: 0;}
    100% { width: 70px;}
}

/* /about me*/

/* footer */
.footer {
    background-image: url(../images/portfolio-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 -353px;
    background-size: cover;
    padding: 100px 0 0;
    height: 630px;
    min-height: 300px;
    width: 100%;
}
.footer-form {
    width: 100%;
}

.contacts_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.contacts_title {
    font-weight: 700;
    margin: 5px 20px 0 0;
    color: #585858;
}
.contacts_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0;
}
.contacts_value {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ff9600;
    font-size: 27px;
    font-weight: 500;
}
.contacts_value-link {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    transition: all linear 0.3s;
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
}
.contacts_value-link--facebook {
    background: url("../images/ico-facebook.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 45px;
}
.contacts_value-link--facebook:hover {
    background: url("../images/ico-fb-hover.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 45px;
}
.contacts_value-link--vkontakte {
    background: url("../images/ico-vkontakte.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 45px;
}
.contacts_value-link--vkontakte:hover {
    background: url("../images/ico-vk-hover.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 45px;
}
.contacts_value-link--telegramm {
    background: url("../images/ico-telegram.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 45px;
}
.contacts_value-link--telegramm:hover {
    background: url("../images/ico-telegram-hover.png") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 45px;
    height: 45px;
}
.contacts-form {
    width: 750px;
    margin: 0 auto;
}
.contacts-form_title {
    font-weight: 700;
    margin: 0 20px 0 0;
    color: #585858;
    font-size: 22px;
    text-align: center;
    padding: 30px 0;
}
.contacts-form--left {
    float: left;
    width: 50%;
}
.contacts-form--right {
    float: right;
    width: 50%;
}
.contacts-form_field {
    width: 100%;
    position: relative;
    height: 75px;
}
.contacts-form_input {
    border: 1px solid #568ba8;
    border-radius: 3px;
    padding: 12px;
    color: #585858;
    font-size: 20px;
    width: 300px;
}
.contacts-form_input {
    position: absolute;
    top: 0;
    left: 0;
}
.contacts-form_input + label {
    position: absolute;
    top: 11px;
    left: 10px;
    transition: all linear 0.3s;
}
.contacts-form_input:focus + label {
    top: -23px;
    left: 0;
}
.contacts-form_input--textarea {
    resize: none;
    width: 300px;
    height: 200px;
}
.contacts-form_btn {
    width: 50%;
    background: #ff9802;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    color: #fff;
    font-size: 21px;
    letter-spacing: 0.3px;
    cursor: pointer;
    transition: all linear 0.2s;
}
.contacts-form_btn:hover {
    background: #568ba8;
}
.success-message {
    display: none;
    width: 720px;
    margin: 30px auto;
}
.success-message_text {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}
.success-message_pic {
    width: 150px;
    height: 150px;
    margin: 40px auto;
    text-align: center;
    display: block;
}
/* /footer */


.menu-opener,
.menu-opener:hover,
.menu-opener.active,
.menu-opener-inner,
.menu-opener-inner::before,
.menu-opener-inner::after,
.menu,
.menu.active {
    -webkit-transition: 250ms all;
    transition: 250ms all;
}

.menu-opener {
    cursor: pointer;
    height: 64px;
    position: absolute;
    top: 2%;
    left: 1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 64px;
}
.menu-opener:hover,
.menu-opener.active {
    background: #f1c40f;
}

.menu-opener-inner {
    background: #fff;
    height: .5rem;
    margin-left: .75rem;
    margin-top: 1.75rem;
    width: 2.5rem;
}
.menu-opener-inner::before,
.menu-opener-inner::after {
    background: white;
    content: '';
    display: block;
    height: .5rem;
    width: 2.5rem;
}
.menu-opener-inner::before {
    -webkit-transform: translateY(-0.75rem);
    -ms-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
    -webkit-transform: translateY(0.25rem);
    -ms-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
}
.menu-opener-inner.active {
    background: transparent;
}
.menu-opener-inner.active::before {
    -webkit-transform: translateY(0rem) rotate(-45deg);
    -ms-transform: translateY(0rem) rotate(-45deg);
    transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
    -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
    background: #f1c40f;
    color: transparent;
    height: 64px;
    position: absolute;
    top: 2%;
    left: 1%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0rem;
    z-index: -1;
}
.menu.active {
    width: -webkit-calc(100% - 2rem);
    width: calc(100% - 2rem);
}
.menu.active .menu-link {
    color: white;
}

.menu-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    list-style-type: none;
    margin: 0;
    margin-left: 4rem;
    padding: 0;
}

.menu-link {
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 2rem;
    font-weight: 100;
    height: 100%;
    text-align: center;
    text-decoration: none;
}
.menu-link li {
    margin: auto;
}

@media screen and (max-width: 768px) {
    .menu {
        height: auto;
    }
    .menu-inner {
        display: block;
    }
    .menu-link {
        padding: 10px 0;
        font-size: 1.2em;
    }
    .menu.active {
        width: -webkit-calc(100% - 0.5rem);
        width: calc(100% - 0.5rem);
    }
}









/* =======================================================================
                             Adaptive
=========================================================================*/

@media screen and (min-width: 320px)  and (max-width: 480px) {

    .portfolio-slider {
        display: none;
    }

    .header-menu_list {
        flex-wrap: wrap;
    }

    .contacts-form--left {
        float: none;
        width: 100%;
    }

    .contacts-form--right {
        float: none;
        width: 100%;
        height: 200px;
    }

    .title--services {
        margin: 0 auto;
        width: 80%;
    }
    .title--about-me {
        width: 80%;
        margin: 0 auto 20px;
        text-align: center;
    }
    .about-me-description {
        width: 80%;
        margin: 0 auto;
    }
    .about-me-tools_title {
        margin: 0 auto;
        width: 80%;
    }
    .about-me-tools_list {
        width: 100%;
    }
    .about-me-tools_item {
        width: 51%;
        margin: 0 auto;
    }
    .contacts_list {
        flex-wrap: wrap;
    }

    .contacts-form {
        width: 100%;
        margin: 0 auto;
    }

    .contacts_item {
        flex-wrap: wrap;
        margin: 0 auto 20px;
    }

    .contacts_title {
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
    }
    .contacts-form_input {
        position: absolute;
        top: 0;
        left: 50%;
        margin: 0 0 0 -150px;
    }
    .contacts-form_input + label {
        left: 22px;
    }

    .contacts-form_btn-wrap {
        margin: 15px auto 30px;
    }

    .contacts-form_btn {
        margin: 0 auto 20px;
        display: block;
    }
    .contacts-form_input:focus + label {
        left: 10px;
    }

    .title--footer {
        margin: 0 0 20px 0;
    }







    .footer {
        background-size: inherit;
        padding: 40px 0 0;
        height: 100%;
        width: 100%;
    }

}



